body {
   background: skyblue;
   font-family:arial;
}


/* tiles config for index.html*/

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tile {
   flex: 1 0 300px;
   background-color: #fff;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
}

.tile:hover {
     transform:scale(1.05);
}
